.gradient-color {
  background-image: linear-gradient(#3775b5, #dee840);
  color: white;
}

.mg-left-10 {
   margin-left: 10px;
}

.mg-top-10 {
   margin-top: 10px;
}

.image-preview {
	height: 250px;
}